@{
    ViewData["Title"] = "Add Game";
}

        <h1 class="mb-5 text-center">Add new game</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                @* ReSharper disable once UnknownCssClass *@
                <div class="w-file-form">
                    <div class="form-group">
                        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="AddGame">
                            <div>
                                <label for="gameName">Game Name</label>
                                <input type="text" name="gameName" id="gameName" placeholder="Your game name"/>
                            </div>
                            <div>
                                <label for="gamePassword">Password</label>
                                <input type="password" name="gamePassword" id="gamePassword" placeholder="Optional"/>
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Add new game" class="btn btn-imperator mt-3"  />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
