@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="mb-5">Imperator Rome Stats</h1>
        <div class="form-group">
            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadSave">
                <div class="custom-file">
                    <input type="file" name="files" class="custom-file-input" multiple />
                    <label class="custom-file-label" for="customFile"></label>
                </div>
                <div class="col-md-10">
                    <input type="submit" value="Upload" class="btn-primary" id="customFile" />
                </div>
            </form>
        </div>
        
    </div>
