@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Load save</h1>
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadSave">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" name="files" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" class="btn-primary"/>
                </div>
            </div>
        </form>
    </div>
